* {
    padding: 0;
}

body {
    font-family: "crimson text", serif;
    font-weight: 400;
    margin: 0;
}

header {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 32px;
    padding-left: 8px;
}

.back {
    position: absolute;
    left: 0;
    padding: 24px;
}

.regTxt {
    text-align: center;
}

.regTxt p {
    font-size: 32px;
}

.background-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.regForm {
    width: 559px;
    height: 646px;
    background-color: #121212;
    border-radius: 24px;
    margin-top: 64px;
}

.bcRichImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.inputs {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.inputs input {
    max-width: 431px;
    width: 431px;
    height: 63px;
    border-radius: 18px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 24px;
    outline: none;
    border: none;
}

.inputs a {
    text-decoration: none;
    color: #FFB800;
    font-size: 16px;
}

.inputs input::placeholder {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "crimson text";
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 64px 0;
    outline: none;
}

.buttons button {
    font-size: 24px;
    cursor: pointer;
    color: white;
    font-family: "crimson text";
}

.login {
    width: 204px;
    height: 63px;
    background-color: #7184FF;
    border-radius: 12px;
    border: none;
}

.login:active {
    background-color: #3953fc;
}

.register {
    width: 204px;
    height: 63px;
    background-color: #FFB800;
    border-radius: 12px;
    border: none;
}

.register:active {
    background-color: #ab7b01;
}

.fgtEmail {
    padding-bottom: 16px;
}